<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Trabalho POO2</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">admin</property>
    <mapping resource="model/Outrofinanceiro.hbm.xml"/>
    <mapping resource="model/Trabalho.hbm.xml"/>
    <mapping resource="model/Outroagenda.hbm.xml"/>
    <mapping resource="model/Outroestudante.hbm.xml"/>
    <mapping resource="model/Prova.hbm.xml"/>
    <mapping resource="model/Usuario.hbm.xml"/>
    <mapping resource="model/Reuniao.hbm.xml"/>
    <mapping resource="model/Deposito.hbm.xml"/>
    <mapping resource="model/Seminario.hbm.xml"/>
    <mapping resource="model/Compra.hbm.xml"/>
    <mapping resource="model/Conta.hbm.xml"/>
    <mapping resource="model/Aniversario.hbm.xml"/>
  </session-factory>
</hibernate-configuration>